/**
 * Base Variables
 */
$font-header: "Quattrocento", serif;
$font-body: "Fanwood Text", serif;

$color-black: #494949;
$color-grey: #f8f8f8;
$color-white: #fff;

$mq-xs: 20em;
$mq-sm: 30em;
$mq-md: 54em;
$mq-lg: 64em;
$mq-xl: 76.5em;
$mq-xxl: 114em;
